.buttons {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 30%;
  background-color: #c70039;
  color: white;
  border-color: #c70039;
  transition: background-color 0.3s;
}

.buttons:hover {
  background-color: orange;
}
